html, body{
    height:100%;
}

/* body {
    background-color: black;
    background-image: url(../images/background1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    
} */

#sideNav{
background: transparent;
}

.parallax {
    background-image: url("../images/background1.jpeg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 50% 0; */
}

.landingName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 75%;
    text-align: center;
    transition-property: opacity;
    transition-duration: 2s;
}

#name {
    font-size: 64px;
    font-weight: bold;
    color: white;
}

#title {
    font-size: 45px;
    font-weight:bold;
    color: white;
}

#aboutMe{
    height: 100%;
}

#aboutTitle {
    text-align: center;
    margin-top: 20px;
}
/* @media screen and (orientation: portrait) {
    body{
        min-height: 100%;
        background-color: black;
        background-image: url(../images/background.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 0;
    }
}
@media screen and (orientation: landscape) {
    body{
        min-height: 100%;
        background-color: black;
        background-image: url(../images/background1.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 0;
    }
} */